body {
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  border: solid 1px blue;
  margin: 5px;
  padding: 5px 10px;
}
.btn:hover {
  background-color: blue;
  cursor: pointer;
}
#message {
  margin: 20px;
}
