body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #142d4c;
  color: #fff;
  font-size: 30px;
}
h1 {
  text-transform: uppercase;
}

.wrapper {
  text-align: center;
}
/*button*/
.btn {
  font-size: 30px;
  margin: 5px;
  padding: 0px 20px;
  border-radius: 5px;
  background-color: #142d4c;
  border: 1px solid #fff;
  color: #fff;
}
/*button hover*/
.btn:hover {
  background-color: #fff;
  color: #142d4c;
  cursor: pointer;
}
